
/*Primary color = midnight blue to emulate the futuristic theme; accent of orange to show the prehistoric fire colors and the transition from old to new*/


*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: darkorange;
    font-family: Tagesschrift, sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.hero-background{
    background-image: url("images/conner-baker-cbvBcRUFWKk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: absolute;
    background-color: darkgray;

}
#pyramid{
    margin-bottom: 10px;
}
div.Logo{
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    top: 0;
    left: 15%;
    bottom: 100%;
    right: 50%;
    width: inherit;
    height: -webkit-fill-available;

}
#home-page{
    background: url("images/conner-baker-cbvBcRUFWKk-unsplash.jpg");
    background-size: 99.99% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;

}
#menu-page{
    background: url("images/gabriella-clare-marino-lcGz6gZsSsk-unsplash.jpg");
    background-size: 99.99% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;

}
#hiring-page{
    background: url("images/cristi-caval-V3F18sonn7k-unsplash.jpg");
    background-size: 99.99% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;

}

.p{
    position: relative;
    text-align: center;
    width: 100%;
    height: 25%;

}
.egypt-description{
    font-family: Papyrus, serif;
    font-size: medium;
    color: white;
}
.future-description{
    font-family: Orbitron, sans-serif;
    font-size: medium;
    color: white;
}
#future{
    font-family: Orbitron, sans-serif;
    font-size: large;
    color: white;
}
.navbar-brand{
    font-size: 34px;
    color: #d18615;
    background-color: #144a66;
    border-style: ridge;
    border-radius: 15px;
    border-width: 6px;
}

.container{
    width: 50%;
    height: 60%;
    position: relative;
    top: 15%;
    border-style: solid;
    border-radius: 15px;
    border-color: midnightblue;
    border-width: 5px;
    padding: 0;

}
.buttons{
    background-color: orange;
    border-color: midnightblue;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}
.buttons:hover{
    transform: translateY(-8px);
    box-shadow:0 18px 50px rgba(2,6,23,0.6);
}
.buttons3:hover{
    transform: translateY(-8px);
    box-shadow:0 18px 50px rgba(2,6,23,0.6);

}
h2{
    position: relative;
    width: fit-content;
    top: 6%;
    color: darkorange;
}
h1{
    color: darkorange;
}
.roman{
    color: darkorange;
    position: relative;
    background-color: midnightblue;
    border-radius: 15px;
    align-content: space-around;

}
.egypt{
    color: darkorange;
    position: relative;
    left: 30%;
    bottom: 100%;
    background-color: midnightblue;
    border-radius: 15px;
    align-content: space-around;
}
.future{
    color: darkorange;
    position: relative;
    left: 30%;
    bottom: 100%;
    background-color: midnightblue;
    border-radius: 15px;
    border-color: midnightblue;
    border-width: 10px;
    align-content: space-around;
}


.menu_description{
    font-family: Papyrus, sans-serif;
    font-size: 18px;
    position: relative;
    top: -20%;
    height: fit-content;
}
.bg-body-tertiary{
    --bs-bg-opacity: .7;
}

#home-button{
    font-size: 24px;
    font-family: Tagesschrift, sans-serif;
}
#menu-button{
    font-size: 24px;
    font-family: Tagesschrift, sans-serif;
}
#hiring-button{
    font-size: 24px;
    font-family: Tagesschrift, sans-serif;
}
.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}
#menu-description{
    color: white;
}
#menu-price{
    color: white;
}
#menu-image{
    height: 100%;
    width: 100%;
}
#application-container{
    position: relative;
    top: 3%;
}
#application-row1{
    border-style: solid;
    border-radius: 15px;
    border-color: midnightblue;
    border-width: 5px;
}

#phoneError{
    display: none;
}
#phoneOk{
    display: none;
}
#ageError{
    display: none;
}
#nav-image{
    font-family: Tagesschrift, system-ui;
}
#menu_buttons-container{
    height: 5%;
    position: relative;
    top: 3%;
}
#container1{
    height: 70%;
    position: relative;
    top: 5%;
    border-style: solid;
    border-radius: 15px;
    border-color: midnightblue;
    border-width: 5px;
}
#row1{
    justify-content: space-evenly;
    min-height: 400px
}
#col1_index{
    align-content: center;
    min-height: 200px
}
#p-roman{
    font-family: 'Times New Roman', system-ui; font-size: 24px; color: white;
}
#horse{
    font-size: 24px;
    color: saddlebrown;
}
#p-romanDesc{
    font-family: 'Times New Roman', system-ui;
    font-size: medium;
    color: white;
}
#col2{
    align-content: center;
    min-height: 200px;
}
#p-egypt{
    font-family: Papyrus, serif;
    font-size: 24px;
    margin-bottom: 0;
    color: white;
}
#col3{
    align-content: center;
    min-height: 200px;
}
#menu_buttons-row{
    height: 100%;
}
#prevCol{
    display: flex;
    justify-content: center;
}
#nextCol{
    display: flex;
    justify-content: center;
}
#menu-row{
    height: 100%;
    border-radius: 15px;
}
#menu-col1{
    height: 100%;
    padding: 0;
}
#menu-col2{
    height: 100%;
}

