*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    font-family: "Orbitron", system-ui;

}
div.navbar{
    margin-left: 1%;
    font-style: normal;
    position: absolute;
    top: 40px;
    left: 10%;
    font-size: 100%;


}
img.Logo{
    max-width: 10%;
    height: auto;

}
div.Logo{
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
}
.blurred-background{
    height: 100vh;
    margin:0;
    padding: 0;
    background-size: cover;
    background: url("images/Caves-and-the-new-age-of-exploration.png") no-repeat fixed center center;
    filter: blur(3px);
    z-index: -1;

}